name: build

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdkr/setup-mise@v1
      - uses: gradle/actions/setup-gradle@v4
      - run: ./gradlew build
